.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 5px 5px;
}

.pagination-prev-button {
    text-align: left;
}

.pagination-message {
    flex-grow: 1;
    text-align: center;
}

.pagination-next-button {
    text-align: right;
}

.details-column {
    flex: 2;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
    padding-right: 20px;
    scrollbar-width: thin;
}

.individual-details-column {
    flex: 2;
    text-align: left;
    max-height: 450px;
    overflow-y: auto;
    padding-right: 20px;
    scrollbar-width: thin;
}

.details-column::-webkit-scrollbar,
.individual-details-column::-webkit-scrollbar {
    width: 8px;
}

.details-column::-webkit-scrollbar-thumb,
.individual-details-column::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.details-column::-webkit-scrollbar-thumb:hover,
.individual-details-column::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.results-container,
.individual-result-container {
    flex: 2;
    max-width: 40%;
    overflow-y: auto;
}