.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    width: 100%;
    /* Ensure the container spans the full width of the screen */
    box-sizing: border-box;
    /* Include padding in the width calculation */
}

.planet-description {
    flex: 1;
    max-width: 50%;
    /* Limits the width of the description */
}

.results-container {
    flex: 1;
    /* Adjusts to take equal space as planet-description */
    max-width: 50%;
    /* Ensures it stays on the right side */
    margin-left: auto;
    /* Pushes the results container to the far right */
}

.individual-planet-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    /* Add some spacing between the two sections */
}

.next-planet-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #b420d1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.next-planet-button:hover {
    background-color: #b420d1;
}

.previous-planet-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #b420d1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.previous-planet-button:hover {
    background-color: #b420d1;
}