.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hwb(292 0% 94%);
  color: white;
  padding: 0px;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  align-items: center;
}

.App-header nav {
  margin-top: 0px;
}

.App-header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.App-header nav a:hover {
  text-decoration: underline;
}


nav {
  margin-top: 60px;
  /* Add margin to prevent overlap with the fixed title */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  width: 100%;
  background-image: url('/background.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 180px;
}

html,
body,
#root {
  background-attachment: fixed;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.result-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.image-column {
  flex: 1;
  margin-right: 1rem;
}

.details-column {
  flex: 2;
}

.planet-image {
  width: 175px;
  /* Set the desired width */
  height: 175px;
  /* Set the desired height */
  /* Optional: Adds rounded corners */
  margin: 0px;
  padding: 0px;
}

.result-item {
  display: flex;
  align-items: center;
  /* Vertically align items in the center */
  margin-bottom: 1rem;
}

p {
  font-family: 'Arial', sans-serif;
  font-size: 32px;
  line-height: 1.5;
  color: #ffffff;
  margin: 0 0 1rem;
}

li {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  line-height: 0.8;
  color: #ffffff;
  margin: 0 0 1rem;
}